.shopping-section {
	.filter {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		.filter-panel {
			display: flex;
			flex-wrap: wrap;
			.filter-panel-item {
				position: relative;
				list-style: none;
				padding: 10px 0;
				cursor: pointer;
				display: inline-block;
				vertical-align: middle;
				a{
					font-size: 12px;
				letter-spacing: .1em;
				font-weight: 500;
				text-transform: uppercase;
				color: #1b1b1b;
				}

				transition: color .3s;
				&:hover {
					color: red;
				}
				&.active {
					a{
						color: red;
					}
				}

				&:not(:last-of-type) {
					margin-right: 30px;
				}
			}
		}
		.filter-box {
			position: relative;
			span {
				color: #1b1b1b;
				font-size: 12px;
				line-height: 2em;
				font-weight: 500;
				letter-spacing: .1em;
				text-transform: uppercase;
			}
			&:hover {
				.filter-inner {
					visibility: visible;
				}
			}
			.filter-inner {
				display: flex;
				position: absolute;
				visibility: hidden;
				left: -250px;
				top: 20px;
				height: auto;
				width: auto;
				background-color: white;
				z-index: 9;
				.sortBy {
					width: 200px;
					padding: 0 40px 40px 40px;

					.sort-link {
						&:hover {
							a {
								&:hover {
									color: #000;
								}
							}
						}
					}
				}
			}
		}
	}
	
}
.shop-card {
		
	&:hover {
		.bg-img {
			transform: scale(1.05);
		}
		.shop-details {
			.price-box {
				.addcart {
					display: block;
					animation: mymove 0.3s ;
					animation-timing-function: linear;
					&:hover {
						color: red;
					}
				}
				.shop-price {
					display: none;
				}
			}
		}
	}
	.shop-card-img {
		position: relative;
		overflow: hidden;
		margin-bottom: 10px;
		&::before {
			content: "";
			display: block;
			padding-top: 120%;
		}

		.bg-img {
			z-index: 0;
			transition: all 0.3s ease;
			height:auto;
		}
	}
	.shop-details {
		width: 100%;
		padding: 0 30px 13px 30px;
		display: block;
		z-index: 99;
		position: relative;
		.shop-title {
			font-size: 13px;
			line-height: 32px;
			font-weight: 500;
			font-family: $primary-family;
			letter-spacing: .1em;
			text-transform: uppercase;
			margin: 0;

			text-align: center;
			a {
				color: #1b1b1b !important;
				text-decoration: none;
				transition: opacity .3s;
			}
		}
		.price-box {
			font-size: 12px;
			position: relative;
			text-align: center;
			align-items: center;

			.addcart {
				
				display: none;
				cursor: pointer;
				
			}
			@keyframes mymove {
				from {left: -20px;}
				to {left: 0px;}
			  }
			.shop-price {
				display: block;
				text-align: center;
				animation: fadeup 0.3s ;
					animation-timing-function: linear;
			}
			@keyframes fadeup {
				from {right:-20px;}
				to {right: 0px;}
			  }
		}
	}
}
