@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital@0;1&display=swap");
header .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar-menu .logo {
  margin-right: 70px;
}

header .navbar-menu .logo a {
  height: 25px;
}

header .navbar-menu .logo a .logo-dark {
  height: 100%;
  width: 220px;
}

header .navbar-menu .navbar .navbar-item a span,
header .navbar-menu .navbar .dropdown-item a span {
  position: relative;
}

header .navbar-menu .navbar .navbar-item a span::before,
header .navbar-menu .navbar .dropdown-item a span::before {
  content: '';
  height: 1px;
  background-color: currentColor;
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 0px;
  margin: auto;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}

header .navbar-menu .navbar .navbar-item a span:hover::before,
header .navbar-menu .navbar .dropdown-item a span:hover::before {
  width: 100%;
}

header .navbar-menu .navbar .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar-menu .navbar .navbar-menu .navbar-item {
  position: relative;
}

header .navbar-menu .navbar .navbar-menu .navbar-item:hover .dropdawn-menu {
  visibility: visible;
  opacity: 1;
}

header .navbar-menu .navbar .navbar-menu .navbar-item a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 0 25px;
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: .1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .navbar-menu .navbar .navbar-menu .navbar-item .dropdawn-menu {
  position: absolute;
  display: block;
  left: 3px;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: top .15s ease-out;
  transition: top .15s ease-out;
  z-index: 40;
}

header .navbar-menu .navbar .navbar-menu .navbar-item .dropdawn-menu .dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  padding: 19px 0;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

header .navbar-menu .navbar .navbar-menu .navbar-item .dropdawn-menu .dropdown .dropdown-item {
  position: relative;
}

header .navbar-menu .navbar .navbar-menu .navbar-item .dropdawn-menu .dropdown .dropdown-item .dropdown-link {
  position: relative;
}

header .navbar-menu .navbar .navbar-menu .navbar-item .dropdawn-menu .dropdown .dropdown-item .dropdown-link i {
  position: absolute;
  right: 0;
}

header .navbar-menu .navbar .navbar-menu .navbar-item .dropdawn-menu .dropdown .dropdown-item:hover {
  background-color: white;
}

header .navbar-menu .navbar .navbar-menu .navbar-item .dropdawn-menu .dropdown .dropdown-item:hover .dropdawn-menu {
  visibility: visible;
  opacity: 1;
}

header .navbar-menu .navbar .navbar-menu .navbar-item .dropdawn-menu .dropdown .dropdown-item .dropdawn-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 100%;
  top: 0;
}

header .navbar-menu .navbar .navbar-menu .navbar-item .dropdawn-menu .dropdown a {
  display: block;
  float: none;
  margin: 0;
  padding: 8px 26px;
  font-size: 11px !important;
  color: #737373;
  line-height: 19px;
}

header .navbar-menu .navbar .navbar-menu .navbar-item .dropdawn-menu .dropdown a span {
  position: relative;
}

header .navbar-menu .navbar .navbar-menu .navbar-item .dropdawn-menu .dropdown a span::before {
  content: '';
  height: 1px;
  background-color: currentColor;
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 0px;
  margin: auto;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
}

header .navbar-menu .navbar .navbar-menu .navbar-item .dropdawn-menu .dropdown a span:hover::before {
  width: 100%;
}

header .navbar-menu .navbar .navbar-menu .shop-item .dropdawn-menu {
  position: absolute;
  left: -500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  width: 1100px;
  height: 500px;
  padding: 40px 45px;
  background-color: white;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

header .navbar-menu .navbar .navbar-menu .shop-item .dropdawn-menu .shop-dropdown-title {
  text-align: center;
  padding: 20px 35px;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  text-transform: none;
  line-height: 1.1em;
  color: #1b1b1b;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

header .navbar-menu .navbar .navbar-menu .shop-item .dropdawn-menu .dropdown {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .navbar-menu .navbar .navbar-menu .shop-item .dropdawn-menu .dropdown .dropdown-link {
  padding: 5px 20px !important;
}

header .navbar-menu .action {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-menu .action .search-box {
  margin-right: 15px;
}

header .navbar-menu .action .search-box:hover i {
  color: #f34f3f !important;
}

header .navbar-menu .action .search-box i {
  font-size: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .navbar-menu .action .shopping-box .cart-icon-box .cart-icon {
  position: relative;
  display: inline-block;
  font-size: 21px;
  vertical-align: top;
  padding-right: 14px;
}

header .navbar-menu .action .shopping-box .cart-icon-box .cart-icon-number {
  position: absolute;
  top: 3px;
  left: 13px;
  width: 13px;
  height: 13px;
  background-color: #f34f3f;
  font-size: 8px;
  color: #fff;
  font-weight: 600;
  line-height: 1.5em;
  border-radius: 50%;
  text-align: center;
}

header .navbar-menu .action .shopping-box .cart-icon-text,
header .navbar-menu .action .shopping-box .cart-info {
  text-transform: uppercase;
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .1em;
  line-height: 27px;
}

header .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 10px gray;
          box-shadow: 5px 10px gray;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-height: 450px) {
  header .sidenav {
    padding-top: 15px;
  }
  header .sidenav a {
    font-size: 18px;
  }
}

header .sidenav .sidenav-list {
  padding: 40px;
}

header .sidenav .active {
  background-color: green;
  color: white;
}

header .sidenav .dropdown-container {
  display: none;
  background-color: transparent;
  padding-left: 8px;
}

header .sidenav .fa-caret-down {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

header .sidenav .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #1b1b1b;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

header .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 11px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #8b8b8b;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: 11px 0;
  font-family: "Montserrat", sans-serif;
}

header .sidenav a:hover {
  color: #f1f1f1;
}

header .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

header #main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 20px;
}

.banner {
  position: relative;
}

.banner .content {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1;
  width: 500px;
  height: 400px;
}

.banner .content h1 {
  min-width: 347px;
  max-width: 347px;
  white-space: normal;
  font-size: 41px;
  line-height: 51px;
  font-weight: 400;
  color: black;
  letter-spacing: 0px;
  font-family: "Playfair Display", serif;
  visibility: inherit;
  -webkit-transition: none 0s ease 0s;
  transition: none 0s ease 0s;
  text-align: inherit;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  min-height: 103px;
  max-height: 103px;
  opacity: 1;
}

.banner .content p {
  min-width: 429px;
  max-width: 429px;
  white-space: normal;
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
  color: #6d6a6a;
  letter-spacing: 0px;
  font-family: "Lora", serif;
  visibility: inherit;
  -webkit-transition: none 0s ease 0s;
  transition: none 0s ease 0s;
  text-align: inherit;
  border-width: 0px;
  margin-top: 20px;
  padding: 0px;
  min-height: 89px;
  max-height: 89px;
  opacity: 1;
}

.banner .content img {
  width: 197px;
  height: 56px;
  margin-top: 15px;
}

.banner .slider-banner {
  position: relative;
  z-index: -1;
  max-height: 477px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 477px !important;
}

.banner .slider-banner .slider-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vh;
  height: 477px;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
  -webkit-animation: ZoomEffect 30s linear infinite;
          animation: ZoomEffect 30s linear infinite;
}

.banner .slider-banner .slider-one {
  -webkit-animation: ZoomOutEffect 30s linear infinite;
          animation: ZoomOutEffect 30s linear infinite;
}

@-webkit-keyframes ZoomEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes ZoomEffect {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes ZoomOutEffect {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ZoomOutEffect {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.arrow-prev {
  position: absolute;
  top: 50%;
  left: 10px;
}

.arrow-prev .prev-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 1px;
  background: #b5b0b0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.arrow-prev .prev-button::before, .arrow-prev .prev-button::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 100%;
  bottom: 0;
  left: 0;
  background: #b5b0b0;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.arrow-prev .prev-button::before {
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

.arrow-prev .prev-button::after {
  -webkit-transform: rotate(321deg);
          transform: rotate(321deg);
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 50px;
}

.arrow-right .next-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 1px;
  background: #b5b0b0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.arrow-right .next-button::before, .arrow-right .next-button::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 100%;
  bottom: 0;
  left: 100%;
  background: #b5b0b0;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.arrow-right .next-button::before {
  -webkit-transform: rotate(139deg);
          transform: rotate(139deg);
  bottom: 1px;
  left: 100%;
}

.arrow-right .next-button::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  bottom: 1px;
  left: 100%;
}

.arrow-prev:hover .next-button,
.arrow-prev:hover .prev-button,
.arrow-right:hover .next-button,
.arrow-right:hover .prev-button {
  background: #000;
}

.arrow-prev:hover .next-button::before, .arrow-prev:hover .next-button::after,
.arrow-prev:hover .prev-button::before,
.arrow-prev:hover .prev-button::after,
.arrow-right:hover .next-button::before,
.arrow-right:hover .next-button::after,
.arrow-right:hover .prev-button::before,
.arrow-right:hover .prev-button::after {
  background: #000;
}

.shopping-section .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.shopping-section .filter .filter-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shopping-section .filter .filter-panel .filter-panel-item {
  position: relative;
  list-style: none;
  padding: 10px 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.shopping-section .filter .filter-panel .filter-panel-item a {
  font-size: 12px;
  letter-spacing: .1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #1b1b1b;
}

.shopping-section .filter .filter-panel .filter-panel-item:hover {
  color: red;
}

.shopping-section .filter .filter-panel .filter-panel-item.active a {
  color: red;
}

.shopping-section .filter .filter-panel .filter-panel-item:not(:last-of-type) {
  margin-right: 30px;
}

.shopping-section .filter .filter-box {
  position: relative;
}

.shopping-section .filter .filter-box span {
  color: #1b1b1b;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.shopping-section .filter .filter-box:hover .filter-inner {
  visibility: visible;
}

.shopping-section .filter .filter-box .filter-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  visibility: hidden;
  left: -250px;
  top: 20px;
  height: auto;
  width: auto;
  background-color: white;
  z-index: 9;
}

.shopping-section .filter .filter-box .filter-inner .sortBy {
  width: 200px;
  padding: 0 40px 40px 40px;
}

.shopping-section .filter .filter-box .filter-inner .sortBy .sort-link:hover a:hover {
  color: #000;
}

.shop-card:hover .bg-img, .shopcard:hover .bg-img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.shop-card:hover .shop-details .price-box .addcart, .shopcard:hover .shop-details .price-box .addcart {
  display: block;
  -webkit-animation: mymove 0.3s;
          animation: mymove 0.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.shop-card:hover .shop-details .price-box .addcart:hover, .shopcard:hover .shop-details .price-box .addcart:hover {
  color: red;
}

.shop-card:hover .shop-details .price-box .shop-price, .shopcard:hover .shop-details .price-box .shop-price {
  display: none;
}

.shop-card .shop-card-img, .shopcard .shop-card-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.shop-card .shop-card-img::before, .shopcard .shop-card-img::before {
  content: "";
  display: block;
  padding-top: 120%;
}

.shop-card .shop-card-img .bg-img, .shopcard .shop-card-img .bg-img {
  z-index: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: auto;
}

.shop-card .shop-details, .shopcard .shop-details {
  width: 100%;
  padding: 0 30px 13px 30px;
  display: block;
  z-index: 99;
  position: relative;
}

.shop-card .shop-details .shop-title, .shopcard .shop-details .shop-title {
  font-size: 13px;
  line-height: 32px;
  font-weight: 500;
  font-family: "Heebo", sans-serif;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.shop-card .shop-details .shop-title a, .shopcard .shop-details .shop-title a {
  color: #1b1b1b !important;
  text-decoration: none;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.shop-card .shop-details .price-box, .shopcard .shop-details .price-box {
  font-size: 12px;
  position: relative;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-card .shop-details .price-box .addcart, .shopcard .shop-details .price-box .addcart {
  display: none;
  cursor: pointer;
}

@-webkit-keyframes mymove {
  from {
    left: -20px;
  }
  to {
    left: 0px;
  }
}

@keyframes mymove {
  from {
    left: -20px;
  }
  to {
    left: 0px;
  }
}

.shop-card .shop-details .price-box .shop-price, .shopcard .shop-details .price-box .shop-price {
  display: block;
  text-align: center;
  -webkit-animation: fadeup 0.3s;
          animation: fadeup 0.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes fadeup {
  from {
    right: -20px;
  }
  to {
    right: 0px;
  }
}

@keyframes fadeup {
  from {
    right: -20px;
  }
  to {
    right: 0px;
  }
}

.videosection .content {
  position: relative;
  margin-left: 50px;
}

.videosection .content h1 {
  font-size: 34px;
  display: block;
  line-height: 1.447em;
}

.videosection .video-section-box {
  position: relative;
}

.videosection .video-section-box .video-box {
  display: inline-block;
  vertical-align: middle;
}

.videosection .video-section-box .video-box:hover .img-box {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.videosection .video-section-box .video-box .video-img-box {
  position: absolute;
  display: inline-block;
  width: 100%;
  left: 0;
  top: 0;
  vertical-align: middle;
  z-index: 2;
  overflow: hidden;
}

.videosection .video-section-box .video-box .video-img-box .img-box {
  max-width: 100%;
  height: auto;
}

.videosection .video-section-box .video-box .video-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  color: #f34f3f;
  font-size: 48px;
  line-height: 2;
}

.videosection .video-section-box .video-box .video-link .video-button-play-inner {
  position: relative;
  top: 55%;
  left: 0;
  display: block;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.videosection .video-section-box .video-box .video-link .video-button-play-inner .video-button-outer {
  position: relative;
  background: #fff;
  border-radius: 100%;
  margin: auto;
  padding: 30px 40px;
  height: 100px;
  width: 100px;
}

.videosection .video-section-box .video-box .video-link .video-button-play-inner .video-button-outer .icon {
  position: relative;
}

.videosection .video-section-box .video-box .video-link .video-button-play-inner .video-button-outer .icon i {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.videosection .video-section-box .video-box .video-link .video-button-play-inner .video-button-outer .icon::before {
  display: block;
  line-height: inherit;
}

.experts .team-card {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experts .team-card .team-card-description {
  position: relative;
  vertical-align: middle;
  width: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 18px 0 0;
  text-align: center;
}

.experts .team-card .team-card-description .expert-name {
  color: #1b1b1b;
  margin: 0;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.experts .team-card .team-card-description .expert-profession {
  display: block;
  font-size: 12px;
  color: #afafaf;
  margin: 2px 0 4px;
}

.parallax {
  background-image: url(../image/indexImg/parallax-background-img.jpg);
  min-height: 440px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% -30px;
  position: static;
  background-size: cover 0;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: hidden;
}

.parallax .parallax-form-inner {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 140px;
}

.parallax .parallax-form-inner .form-title-box {
  position: relative;
}

.parallax .parallax-form-inner .form-title-box h3 {
  color: white;
  font-size: 30px;
}

.parallax .parallax-form-inner .form-box {
  position: relative;
}

.parallax .parallax-form-inner .form-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.parallax .parallax-form-inner .form-box form #email {
  height: 60px;
  width: 70%;
  display: table-cell;
  vertical-align: top;
  text-align: left;
  border: white;
}

.parallax .parallax-form-inner .form-box form .btn {
  vertical-align: middle;
  width: auto;
  outline: 0;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.833em;
  letter-spacing: .1em;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  margin: 0;
  -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  padding: 13px 42px;
  color: #fff;
  background-color: #f34f3f;
  border: 1px solid transparent;
  cursor: pointer;
}

.our-blog .shop-card {
  position: relative;
}

.our-blog .shop-card .shop-card-img::before {
  padding-top: 70%;
}

.our-blog .shop-card .shop-details h5 {
  font-size: 22px;
  line-height: 1.363em;
  color: #2b2b2b;
  font-weight: 500;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
}

.our-blog .shop-card .shop-details p {
  margin-top: 25px;
  font-weight: 400;
  font-family: "Lora", serif;
}

.our-blog .shop-card .datecreated {
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .15em;
  color: #000;
  background-color: #fff;
  line-height: 1em;
  padding: 12px 16px 10px;
}

.our-blog .shop-card .datecreated:hover a {
  color: #f34f3f;
}

.testmionial .testSlider {
  position: relative;
  width: 80%;
}

.testmionial .testSlider .sliders-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0 100px;
}

.testmionial .testSlider .sliders-test .img-box {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.testmionial .testSlider .sliders-test .img-box img {
  display: block;
  margin: 0 auto;
}

.testmionial .testSlider .sliders-test .slider-description {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: middle;
  margin-top: 50px;
}

.testmionial .testSlider .sliders-test .slider-description .text {
  color: #4b4747;
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 24px;
  line-height: 1.5em;
  text-align: center;
  width: 70%;
  margin: auto;
}

.testmionial .testSlider .arrow-prev {
  left: 100px;
}

.testmionial .testSlider .arrow-right {
  right: 100px;
}

#tabs,
#tabsone {
  border: 1px solid #eee;
  height: 300px;
}

#tabs ul,
#tabsone ul {
  padding: 0;
  background-color: white;
  border: none;
  margin-left: -6px;
  margin-top: -10px;
}

#tabs ul li,
#tabsone ul li {
  height: 55px;
  width: 150px;
  background-color: white;
  border: 1px solid #eee;
  margin-right: -10px;
  text-transform: uppercase;
  text-align: center;
}

#tabs ul li a,
#tabsone ul li a {
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

#tabs .ui-tabs-active,
#tabsone .ui-tabs-active {
  background-color: #f34f3f;
  color: white;
}

#tabsone ul li {
  border: none;
  background-color: #f6f6f6;
}

#tabstwo {
  border-left: none;
  border-right: none;
  border-top: none;
}

#tabstwo ul {
  background-color: white;
  border: none;
  border-bottom: 1px solid #d8d6d6;
}

#tabstwo ul li {
  border: none;
  background-color: white;
  margin: 0 31px 0 0;
}

#tabstwo ul li a {
  color: #1b1b1b;
  text-transform: uppercase;
  font-size: 13px;
}

#tabstwo p {
  padding: 50px 0;
}

#tabstwo .ui-tabs-active a {
  color: #f34f3f;
}

.ui-tabs-vertical {
  width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  float: left;
  width: 12em;
}

.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-right-width: 0 !important;
  margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: .1em;
  border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 155px);
  padding: 13px 32px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #eee;
}

#tabsthree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

#tabsthree ul {
  background-color: white;
  border: none;
}

#tabsthree ul li {
  height: 60px;
  background-color: white;
}

#tabsthree .ui-tabs-active {
  border: 1px solid #d4d0d0 !important;
  color: white;
  background-color: #f34f3f;
}

.banner-progress {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 225px;
  background-color: #fafaf9;
  overflow: hidden;
  z-index: 101;
}

.banner-progress .bar-title-box {
  margin-top: 50px;
}

.banner-progress .bar-title-box .bar-title {
  font-size: 50px;
  line-height: 1.32em;
}

.progress-bar-box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 !important;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  padding: 0;
}

.progress-bar-box .content .title, .progress-bar-box .content .percent {
  font-size: 22px;
  line-height: 1.363em;
}

.progress-bar-box .content .percent::after {
  content: "%";
}

.shop-list .shop-card-item {
  position: relative;
}

.shop-list .shop-card-item:hover .overlay {
  opacity: 1;
}

.shop-list .shop-card-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  height: 100%;
}

.shop-list .shop-card-item .overlay .text-outer {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
}

.shop-list .shop-card-item .overlay .text-outer .text-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.shop-list .shop-card-item .overlay .text-outer .text-inner .title a {
  text-transform: uppercase;
}

.shop-list .shop-card-item .overlay .text-outer .text-inner .price {
  display: block;
  color: #afafaf;
}

.shop-list .shop-card-item .overlay .text-outer .text-inner .add-to-cart {
  margin: 25px 0 0;
}

.shop-list .shop-card-item .overlay .text-outer .text-inner .add-to-cart .button {
  color: #fff;
  background-color: #f34f3f;
  border: 1px solid transparent;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  outline: 0;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.833em;
  letter-spacing: .1em;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  margin: 0;
  -webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  padding: 13px 42px;
  white-space: nowrap;
  z-index: 3;
}

.title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-box .title-slider {
  font-family: "Montserrat", sans-serif;
  font-size: 13px !important;
  color: #1b1b1b;
}

.title-box .arrow-button .arrow-prev, .title-box .arrow-button .arrow-right {
  position: relative;
}

.title-box .arrow-button .arrow-prev i, .title-box .arrow-button .arrow-right i {
  font-size: 20px;
  margin-right: 20px;
  color: #afafaf;
}

.title-box .arrow-button .arrow-prev i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.title-box .arrow-button .arrow-right i {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.footer {
  background: #fefaf3;
  padding: 35px 0 24px;
  color: #fff;
  font-size: 14px;
}

.footer h6 {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer .footer-navlist .nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-navlist .nav-links ul li {
  margin-bottom: 10px;
}

.footer .footer-navlist .nav-links ul li:hover a {
  color: #f34f3f;
}

.footer .footer-navlist .nav-links ul li a {
  color: #afafaf;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  text-decoration: none;
}

.footer .copyright-box {
  border-top: 1px solid #eceae1;
  margin-top: 34px;
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .copyright-box .copyright {
  color: #afafaf;
  font-weight: 400;
  font-size: 12px;
}

.footer .copyright-box .copyright span {
  color: #1b1b1b;
  font-weight: 300;
}

.footer .copyright-box .copyright span:hover {
  color: #f34f3f;
}

.footer .copyright-box .social-link {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer .copyright-box .social-link .icon {
  color: #afafaf;
  font-size: 12px;
  font-family: "Lora", serif;
  margin-right: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 24px;
}

body section {
  overflow: hidden !important;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 20px 0;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

body a {
  text-decoration: none;
}

body, body p, body a {
  color: #6d6a6a;
}

body .reset-li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body .bgcolor-light {
  background-color: #F7F7F7;
}

body .color-red {
  color: red;
}

body .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  z-index: -1;
}

body .shop-card {
  display: none;
}

body .show {
  display: block;
}

body .section-style {
  padding: 120px 0;
}

body .title-box p {
  width: 50%;
  margin: auto;
  font-size: 17px;
  line-height: 29px;
}

body .about {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
}

body .about .name {
  text-align: center;
  color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase;
}

body .about .profession {
  text-align: center;
  color: #afafaf;
  display: block;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  text-transform: none;
}

body .slick-dots {
  position: absolute;
  top: 90%;
}

body .new-product {
  position: absolute;
  display: block;
  top: 0;
  width: auto;
  height: 30px;
  background: #f34f3f;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0 0 12px;
  padding: 5px 13px;
  z-index: 700;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

body .sold {
  left: 0;
  color: #fff;
  background-color: #2b2b2b;
  border-color: transparent #2b2b2b transparent transparent;
}
/*# sourceMappingURL=style.css.map */